{% extends "index.html" %}

{% block content %}
<main>
     <div class="container">
         <div class="row">
             <div class="col col-ms-12">
                <div class="jumbotron">
                     <h1 class="display-4">Elimina un blog</h1>
                     <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorem pariatur qui dolor magnam in ipsam, dolore iusto omnis voluptas.</p>
                     <hr class="my-4">
                     <p>Aqui encontraras los mejores blog</p>
                </div>
             </div>
             <div class="col col-ms-12">
                <form id="form-contact" class="card p-3" method="POST">
                    <div class="form-group">
                        <input type="text" class=" form-control" placeholder="Titulo" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="form-control btn btn-outline-primary">Enviar</button>
                    </div>
               </form>
             </div>
         </div>
     </div>
</main>
{% endblock %}
